
/*Background opacity*/
.opacity{
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    top: 0;
    z-index: -2;
}

/*Gallery*/
.gallery-container {
    /*https://flexbox.help/*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
}

.gallery-container img {
	margin: 10px;
}

  
